<header>
  <span>Monster Slayer</span>
</header>  
<div class="game">
  <div>
    <section class="game-monster section">
      <h2>Monster Health</h2>
      <div>
        <div class="monster-health">
          <div class="monster-healthbar" [style.width.%]="getMonsterHealth()"></div>
        </div>
      </div>
    </section>
    <section class="game-player section">
      <h2>Your Health</h2>
      <div class="player-health">
        <div class="player-healthbar" [style.width.%]="getPlayerHealth()"></div>
      </div>
    </section>
    <section class="section buttons">
     <button (click)="onPlayerAttack()" [disabled]="getCurrentStatus() < 2">Attack</button>
     <button (click)="onPlayerHeal()" [disabled]="getPlayerHealth() >= 100 || getCurrentStatus() < 2">Heal</button>
     <button (click)="onSpecialAttack()" [disabled]="isSpecialAttackAllowed()  || getCurrentStatus() < 2">Special Attack</button>
     <button (click)="onReset()">Restart</button>
    </section>
    <section class="section white" *ngIf="getCurrentStatus() === 0">It's a Draw!</section>
    <section class="section red" *ngIf="getCurrentStatus() === -1">You Lost!</section>
    <section class="section green" *ngIf="getCurrentStatus() === 1">You Win!</section>
  </div>
</div>